* {
    margin: 0;
}

main {
    background: #fff;
    height: 850px;
}

main .page-text {
    height: 400px;
    background-image: url('../../assets/img/header-background.png');
    background-repeat: no-repeat;
    font-family: Roboto-Light;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

main .page-text h1 {
    font-size: 60px;
    font-weight: 300;
}

main .page-text h4 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;  
}

main .page-text button {
    width: 200px;
    height: 70px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    font-family: Roboto;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

main .page-text a {
    width: 200px;
    margin-top: 30px;
    height: 70px;
    text-decoration: none;
    color: black;
}

main .page-text button:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    background: white;
    color: #1EA358;

}

main .page-plans {
    padding: 50px 0px;
    background: white;
    height: 70%;
    width: 100%;
    display: inline-flex;
    align-items: start;
    justify-content: center;
}

main .page-plans .plan-card {
    height: 550px;
    border: 1px solid #ccc;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    font-family: Roboto-Light;
}

main .page-plans .plan-card:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

main .page-plans .plan-card:not(:last-child) {
    margin-right: 4rem; 
}

main .page-plans .plan-card .card-title {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

main .page-plans .plan-card .card-price {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

main .page-plans .plan-card .card-subtitle {
    text-align: center;
    margin-bottom: 10px;
}

main .page-plans .plan-card .button-container {
    width: 100%;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

main .page-plans .plan-card .button-container button {
    height: 60px;
    width: 80%;
    border: none;
    border-radius: 10px;
    background: #1EA358;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    cursor: pointer;
}

main .page-plans .plan-card .button-container button:hover {
    animation:shadow-pop-bl-green .3s cubic-bezier(.47,0.000,.745,.715) both;
    background-color: #05D80A;
}

main .page-plans .plan-card ul {
    padding-right: 2rem;
}

main .page-plans .plan-card ul li {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-flex;
}

main .page-plans .plan-card ul li i {
    margin-right: 5px;
}

main .page-plans .plan-card .premium-icon i {
    font-size: 20px;
    color: #1EA358;
}

main .page-plans .plan-card .premium-icon {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;
}

main .page-plans .premium-card {
    position: relative;
}

main .page-plans .premium-card {
    border: 5px solid #1EA358;
    
}